

// CSS Reset 
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:before, &:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  // font-size: 16rem;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

/* container
    v0.0 | 20200529 */

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 0 25px;
  padding: 10px;
}

@media (max-with: 992px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 414px) {
  .container {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::before, &::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  /* 初始值 16*1.5 = 24px */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.display-in-block {
  display: inline-block;
}

/* bg-cover */

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* from */

.label-wrap {
  width: 100%;
  margin: 0 auto;
}

.label-contact-group {
  margin-bottom: 16px;
}

input[type="text"], textarea {
  width: 100%;
  border: 1px solid #000;
  background: transparent;
  margin-top: 4px;
  padding: 14px 16px;
}

::-webkit-input-placeholder, input[type="submit"], label, :-ms-input-placeholder, input[type="submit"], label, ::-ms-input-placeholder, input[type="submit"], label, ::placeholder, input[type="submit"] {
  font-size: 16px;
  line-height: 24px;
}

label {
  font-size: 16px;
  line-height: 24px;

  input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
  }
}

.submit {
  margin-top: 42px;
  text-align: center;
}

input[type="submit"] {
  cursor: pointer;
  background: #AA0601;
  color: #fff;
  padding: 16px 58px;
  border: 1px solid #AA0601;

  &:hover {
    background: #650300;
  }
}


/* position */

.position-r {
  position: relative;
}

/* displayflex */

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.d-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.d-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.d-flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.d-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.jc-fs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ai-fs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* font-align */

.font-align {
  text-align: center;
}

.font-align-left {
  text-align: left;
}

.font-align-right {
  text-align: right;
}

@media (max-width: 1200px) {
  .d-flex-row-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .d-flex-row-reverse-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .d-flex-col-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .d-flex-col-reverse-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .d-flex-wrap-lg {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .d-flex-nowrap-lg {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 992px) {
  .d-flex-row-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .d-flex-row-reverse-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .d-flex-col-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .d-flex-col-reverse-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .d-flex-wrap-md {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .d-flex-nowrap-md {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .d-flex-row-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .d-flex-row-reverse-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .d-flex-col-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .d-flex-col-reverse-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .d-flex-wrap-sm {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .d-flex-nowrap-sm {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

/*fontStyle */


.container-inner {
  width: 88%;
}

/* utili */

.main-inner {
  padding: 64px 0 80px;
}

/* section  - header */

.main-header {
  padding: 30px 88px;
  background-color: #AA0601;
  position: relative;

  .f-logo {
    width: 80px;
    height: 49px;

    & img {
      width: 100%;
      vertical-align: middle;
    }
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #fff;

    li {
      font-size: 20px;
      line-height: 30px;
      margin-right: 64px;
    }

    & a {
      width: 100%;
      text-decoration: none;
      position: relative;
      color: #ffffff;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: -5px;
        height: 0;
        border-bottom: 1px solid #fff;
        -webkit-transition: .3s;
        transition: .3s;
      }

      &:hover::after {
        left: 0;
        right: 0;
      }
    }

    li:nth-of-type(4) {
      margin-right: 0px;
    }
  }
}


/* section  - banner */

.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
  height: 840px;
}

.banner__headerBanner {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png);
  height: 304px;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
  height: 100%;
  font-weight: bold;

  .banner-text {
    font-size: 36px;
  }
}
/* section - glassSeries */

.glass-series-list {
  padding: 0 48px;

  > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;

   & img {
      max-width: 60%;
    }
  }

  h2 {
    color: #AA0601;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    padding: 0px 24px;
    margin-bottom: 0;
  }
}

/* section - about */

.about-list {
  > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 23.8%;
    padding-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  .item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
}

.glass-about p {
  padding: 0px 37px;
}

/* section - glassCustomer */

.customer-list {
  padding: 0 48px;

  li {
    border: 1px solid #ccc;
    width: 23.8%;
    margin-bottom: 1.5px;
    margin-right: 1.5px;
  }
}

.customer-list-head img {
  width: 100%;
}

.customer-list-body {
  padding: 16px 16px;

  p {
    padding-bottom: 16px;

    > p{
      color: #707070;
      padding-bottom: 0px;
    }

    &:first-child {
      font-weight: bold;
    }
  }
}

@media (max-width: 1024px) {
  .customer-list li {
    margin-right: 0px;
  }
}

/* section - glass-contact */
.glass-contact > p{
    font-size: 20px;
    margin-bottom: 20px;
    
    .submit {
      margin-bottom: 12px;
    }
  
}

/* footer */

footer {
  background-color: #AA0601;

  /* padding: 40px 0px; */
  color: #fff;
}

.mb-big {
  margin-bottom: 32px;
}

.mb-medium {
  margin-bottom: 24px;
}

.mb-small {
  margin-bottom: 22px;
}

/* footer-nav-menu */

.footer-info {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #fff;

  .footer-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 38px;

    > li {
      margin-right: 48px;

      & a {
        width: 100%;
        color: #ffffff;
        text-decoration: none;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* footer-info-contact */

.footer-info-contact {
  margin-bottom: 24px;

  p {
    font-size: 36px;
  }

  > li {
    margin-bottom: 22px;

    &:nth-of-type(2) {
      margin-bottom: 24px;

      /* padding-bottom: 24px; */
    }

    & img {
      margin-right: 22px;
    }

    &:nth-of-type(2) img {
      margin-right: 12px;
    }
  }

  
}

/* medaia-area */

.medaia-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  > li {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* footer-copyright */

.footer-copyright-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  > li {
    & img {
      margin-right: 38px;
    }

    & a {
      margin-right: 62px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .main-header {
    padding: 22px 40px;
  }

  h2.title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 20px;
  }

  /* .main-inner {
    padding: 40px 48px;
  } */
  /* about */

  .about-list {
    .item-img {
      width: 80px;
      height: 80px;
      margin-bottom: 16px;
    }
    
    > li {
      width: 48%;
      margin-bottom: 40px;
      padding-right: 0px;
    }

    
  }

  /* customer-list */

  .customer-list li {
    width: 48%;
    margin-bottom: 1.5px; /*rem;*/
  }

  /* .glass-series  */

  .glass-series-list {

    h2 {
      font-size: 28px;
      margin-bottom: 0px;
    }

    > li:nth-of-type(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  }

  /* contact */

  // .glass-contact p {
  //   font-size: 16px;
  // }

  /* footer */

  .footer-info {
    margin-bottom: 24px;

    .footer img {
      width: 24px;
      height: 24px;
    }

    .footer-nav-menu {
      margin-bottom: 24px;

      > li {
        margin-right: 40px;
      }
    }

    .footer-info-contact {
      p {
        font-size: 20px;
      }

      > li {
        margin-bottom: 9px;

        & img, &:nth-of-type(2) img {
          margin-right: 8px;
        }
      }
    }
    
  }

  .footer-copyright-list {
    > li img {
      margin-right: 0px;
      display: none;
    }

    & a {
      margin-right: 24px;
    }
  }
}

@media (max-width: 414px){
  .main-header {
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    > .main-nav {
      display: none;
    }
  }

  .m-hamburger {
    position: absolute;
    top: 40%;
    left: 16px;

    .line {
      width: 22px;
      height: 2px;
      background: #fff;
      margin: 0 0 3px 3px;
    }
  }
  
  .h-logo {
    width: 48px;
    height: 30px;
  }

  h1 {
    font-size: 32px;
  }

  h2.title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px;
  }

  .banner-text {
    font-size: 16px;
  }

  /* .main-inner {
    padding: 32px 12px;
  } */

  .main-inner.inner {
    padding: 24px 12px;
  }

  .container-inner {
    width: 88%;
  }

  .banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png);
    height: 394px;
  }

  /* about */

  .about-list {
    width: 80%;
    margin: 0 auto;

    > li {
      width: 100%;
      margin-bottom: 20px;
      padding-right: 0px;
    }

    .item-img {
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }
  }

  /* customer-list */

  .customer-list li {
    width: 100%;
    margin-bottom: 1.5px; /*rem;*/
  }

  /* .glass-series  */

  .glass-series-list {
    h2 {
      font-size: 28px;
      margin-bottom: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
    }

    > li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 8px;
      position: relative;

      &:nth-of-type(2) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
      }

      & img {
        max-width: 100%;
      }
    }
    
    > .item-img-icon {
      -webkit-filter: brightness(500);
      filter: brightness(500);
    }
  }

  /* contact */

  // .glass-contact p {
  //   font-size: 16px;
  // }

  /* footer */

  .footer-info {
      margin-bottom: 16px;

    .footer-nav-menu {
      display: none;
    }

    .footer li.footer-nav-menu-itme {
      margin-right: 40px;
    }

    .footer-info-contact {
      > li {
        margin-bottom: 8px;

      & img {
          margin-right: 8px;
          width: 20px;
          height: 20px;
        }
      }

      li:nth-of-type(2) img {
        margin-right: 8px;
      }
    }
  }

  .medaia-area li {
    margin-right: 24px;
  }

  .footer-copyright-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    > li {
      margin-bottom: 8px;

      &:nth-of-type(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .f-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 46px;
        height: 28px;
        margin-right: 0px;
        position: absolute;
        right: 12px;
        bottom: 20px;
      
        & a {
          margin-right: 24px;
          margin-bottom: 8px;

          &:nth-of-type(2) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

/*# sourceMappingURL=style.css.map */