

// color
$color-perimay: #AA0601; 
$color-perimayDark: #650300;
$color-second: #AA06010D; //淡淡粉白
$color-thrid: #212529; 
$color-white: #fff;
$color-thridLight: #F2F2F2; 
$color-thridLightDark: #DEE2E6;
$color-thridDark: #000000;

// BGcolor
$bgColor-perimay: #AA0601; 
$bgColor-perimayLight: #fbf2f2f2; 
$bgColor-perimayDark: #650300;
$bgColor-second: #AA06010D; //淡淡粉白
$bgColor-white: #fff;
$bgColor-thrid: #212529; 
$bgColor-thridLight:#F2F2F2;
$bgColor-thridLightDark: #DEE2E6; 
$bgColor-thridDark: #000000;


// fontSize
$font-size: 16px; //16px;
$font-size-xs: ($font-size * 1.5); //24px; //h4
$font-size-mdx: ($font-size * 2); //32px; //h3
$font-size-md: ($font-size * 3); //48px; //h2
$font-size-lg: ($font-size * 4); //64px; //h1


// fontStyle
$font-style-normal: normal;
$font-w-bold: bold;
$font-w-bolder: bolder;
$font-w-italic: Italic;


// fontalign
$text-alignL: left;
$text-alignC: center;
$text-alignR: right;

//mb-*
$my-0: 0;
$mb-rem-1: 1rem;
$mb-rem-9: ($mb-rem-1 * 9.75); //156px;

// mt-*
$mt-rem-5: ($mb-rem-1 * 5.5); // 88px;
