<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- bootstrap 4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!-- incould Material Icon-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- ul>(li>a).item$*6>a -->
  <div class="wrap d-flex">
    <!-- sidebar -->
    <nav class="sidebar d-flex flex-column justify-content-between ">
      <ul class="index pl-0 d-flex flex-column justify-content-flex-start align-items-start">
          <h1 class="h1"><a class="close" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="ANSWER"></a></h1>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">insert_chart</i>Dashboard</a>
          </li>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">forum</i>Question</a>
          </li>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">assignment</i>Assignmentd</a>
          </li>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">video_library</i>Course</a>
          </li>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">supervisor_account</i>Admin</a>
          </li>
          <li class="font-weight-bolder">
              <a href="#"><i class="material-icons">settings</i>Settings</a>
          </li>
      </ul>
      <div class="purson pl-0 d-flex justion-content-flex-start align-items-center">
          <img class="mr-3" src="../dist/assets/images/andychen.jpeg" alt="">
          <div>
              <p>Andy Chen</p>
              <p>andy0401@mail.com</p>
          </div>
      </div>
    </nav>
  

    <%- contents %>


  </div>
  <!-- js -->
  <script src="./assets/js/all.js"></script> 
  <script>
    $(document).ready(function(){
      $('close').click(function(event){
        event.preventDefault(); // 取消a連結
      });
    });
  </script>
</body>

</html>
