
*,
*::before, 
*::after {
    box-sizing: border-box;
}

:root{
    font-size: $font-html-size;
}

html,body {
    font-family: $font-body-family;
    line-height: $font-line-height;
    // 初始值 16*1.5 = 24px 
}

img {
    max-width: 100%;
    height: auto;
    display: block; //解決img的留白2~3px
}

a {
    text-decoration: none !important;
    color: inherit;
}

/* 1.fontStyle */
h1.h1 {
    font-size: $font-size-lg;
    font-weight: $font-w-bold;
}
  




/* 2.color */


/* 3.space */
.my-0{
    margin: $my-0;
}



/* 4. bg-cover */
.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.bg-contain {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


