

// color
$primary: #aa0601;  
$secondary: #000;  
$info: #fff000;

// darken, lighten
$red-base:      #AA0601 !default; 
$red-darker:    darken($red-base, 13.5%) !default; //#650300
$red-light:     #AA06010D;

$gray-base:     #000 !default;
$gray-darker:   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:     lighten($gray-base, 20%) !default;   // #333
$gray:          lighten($gray-base, 33.5%) !default; // #555
$gray-light:    lighten($gray-base, 90%) !default; // #777
$gray-lighter:  lighten($gray-base, 100%) !default;  // #fff


// font-family
$font-body-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-html-size: 16px;
$font-base-size: 1rem;
$font-line-height: 1.5;

// fontSize
$font-size: 16px; //16px;
$font-size-xxs: ($font-size * 1.25); //20px
$font-size-xs: ($font-size * 1.5); //24px; 
$font-size-mdx: ($font-size * 2); //32px; //h3
$font-size-md: ($font-size * 3); //48px; //h2
$font-size-lg: ($font-size * 4); //64px; //h1


// fontStyle
$font-style-normal: normal;
$font-w-bold: bold;
$font-w-bolder: bolder;
$font-w-italic: Italic;


// fontalign
$font-align-l: left;
$font-align-c: center;
$font-align-r: right;

//mb-*
$my-0: 0;
$mb-rem-1: 1rem;
$mb-rem-9: ($mb-rem-1 * 9.75); //156px;

// mt-*
$mt-rem-5: ($mb-rem-1 * 5.5); // 88px;

// p-*
$px-rem-1: 16px;

// w-*
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 767px;

// display
$display-none: none;
$display-block: block;




// for footer
$mb-big:32px;
$mb-medium:24px;
$mb-small:22px;
$mb-xsmall:16px;

// mr-*
$mr-big:32px;
$mr-xxsmall:12px;
